.aside {
    padding-top: 40px;
    width: 25.0677%;
    margin-bottom: 28px;
    border: 1px solid #ececec;
    .title {
        font-family: Arial;
        color:  #212121;
        font-size: 18.01px;
        font-weight: 400;
        letter-spacing: -0.45px;
        text-align: left;
        padding-left: 12.5px;
        padding-top: 10px;
        padding-bottom: 10px;
        background-image: url("/images/line_aside.png");
        border-bottom: 1px solid #ececec;
    }
    .main_ul {
        .red:hover {
            color: #ae3b44;
        }
        .online_store:after {
            content: "🢒";
            color:  #ae3b44;
            font-size: 17px;
            position: relative;
            left: 54%;
 
        }
    }
    ul {
        li {
            border-bottom: 1px solid #ececec;
            font-family: Arial;
            color:  #3c3c3c;
            font-size: 11.98px;
            font-weight: 400;
            line-height: 11.8px;
            text-align: left;
            padding: 13.5px 0 13.5px 15px;
        }
     
      
        .emailTriangle {
            margin-left: 53%;
        }
      
        .second_ul {
            display: none;
            background-color: #f4f7f8;
            margin-left: -6.8%;
            
            li {
                padding-left: 37px;
                .full_features_triangle {
                    margin-left: 54%;
                }
            }
          
            .third_ul {
                display: none;
                background-color: #eaeaea;
            }
            .email_hosting:hover .third_ul {
                display: block;
                margin-left: -36px;
                border-top: 1px solid #ececec;
            }
            .email_hosting:hover .email_hosting_container {
                margin-bottom: 18px;
                
            }
            .email_hosting:hover {
                padding-bottom: 0px;
                
            }
            .email_hosting:hover .turn {
                transform: rotate(90deg);
                
            }
        }
        .CRM:hover  .second_ul{
            display: block;
            border-top: 1px solid #ececec;

        }

        .CRM:hover  .crm_container {
            margin-bottom: 7%;
        }
        .CRM:hover .crm_triangle_bottom{
            transform: rotate(90deg);
         }
        .CRM:hover {
            padding-bottom: 0px;
        }

        .crm_triangle_bottom {
            margin-left: 30%;
        }
    }
    .online_store {
        background-color: #ae3b44;
        color: white;
    }
  
    .triagle_right_grey {
        width: 4px;
        height: 7px;
    }

    .turn {
        margin-left: 12%; 
    }
   
   

    .email_hosting_triagle_right {
        margin-right: 12px;
    }
    .email_hosting_triangle_bottom {
        margin-left: 28px;
    }
    .triagle_bottom_grey {
        width: 7px;
        height: 4px;
    }



}