@media only screen and (min-width:320px) {
   
}
@media only screen and (min-width:480px) {
    .global {
        min-width:  480px;    
   
    }
    .container {
        padding-left: 12.6620%;
        padding-right: 12.585%;
        width: 100%;
    } 

}

@media only screen and (min-width:870px) {
    .global {
        min-width:  870px;    
   
    }
    .container {
        padding-left: 12.585%;
        padding-right: 12.585%;
        width: 100%;
    } 
   
}

@media only screen and (min-width:1311px) {
    .global {
        width:  1311px;    
   
    }
    .container {
        padding-left: 12.85%;
        padding-right: 12.6%;
        width: 100%;
    } 

}

