.header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    // background-image: url("/images/world_map.png");
    // background-repeat: no-repeat;
    // background-position: top;
    .container {
        display: flex;
        flex-direction: column;
        .header_top {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding-top: 35px;
            padding-bottom: 45px;

            @import "_nav.scss";
         
         }
  
       


    }
    
    
}