.header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

        .header_top {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding-top: 35px;
            padding-bottom: 37px;
            .logo {
                width: 25.0677%;
                img {
                    max-width: 100% 

                }
            }

            @import "_nav.scss";
         
         }
}

