 $bodyColor: #f8f9fb;
 $headerColor: #e9edf0;
 $redColor: #ae3b44;
 $navFontSize: 13px;
 $titleFontSize: 24px;
 $mainFontSize: 12px;

 html {
     display: flex;
     flex-direction: row;
     justify-content: center;

 }

body {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    background-color: $bodyColor;
}

.container {
    padding-left: 165px;
    padding-right: 165px;
    width: 1311px;
} 





@import "_reset.scss";
@import "_header.scss";
@import "_center_block.scss";
@import "_our_clients.scss";
@import "_footer.scss";

@import './modules/_typography.scss';
@import './modules/_buttons.scss';

